version: "8.0"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql8
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_root_password
      MYSQL_DATABASE: Garabita_Cordova_KevinEmanuel
      MYSQL_USER: app_user
      MYSQL_PASSWORD_FILE: /run/secrets/mysql_password
    volumes:
      - mysql_data:/var/lib/mysql
    secrets:
      - mysql_root_password
      - mysql_password

volumes:
  mysql_data:

secrets:
  mysql_root_password:
    file: ./secrets/root_pwd.txt
  mysql_password:
    file: ./secrets/app_pwd.txt
